NODE_ENV=development
PORT=5001

MONGODB_URI=mongodb+srv://DATABASE_USER:DATABASE_PASSWORD@cluster.example.mongodb.net/tourism-booking-system

JWT_SECRET=replace-with-a-random-secret-containing-at-least-32-characters
JWT_EXPIRES_IN=1d
